body {
    background-color: bisque;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.gallery {
    float: left;
    width: 650px;
    margin: 25px;
    border: 1px solid red;
}

.gallery img {
    width: 650px;
    height: 650px;
}

.desc {
    text-align: center;
    padding: 15px;
    font-size: 25px;
}
